<?xml version="1.0"?>
<launch>

    <!--
    Requires RTAB-Map with OpenCV's xfeatures2d and nonfree modules.
    See docker usage if you want RTAB-Map already built with them:
    https://github.com/introlab/rtabmap_ros/tree/master/docker

    Dataset: https://its.acfr.usyd.edu.au/datasets-2/usyd-campus-dataset/
    Tools to play dataset's rosbags: https://gitlab.acfr.usyd.edu.au/its/dataset_metapackage
    
    roslaunch dataset_playback run.launch
    roslaunch rtabmap_examples usyd_dataset.launch cameras:=true
    -->

    

    <arg name="rtabmap_viz"    default="true"/>
    <arg name="rviz"           default="false"/>
    
    <arg name="database_path"  default="/wsl/rtabmap_openloris.db"/>

    <arg name="rtabmap_args" default="-d --udebug --logfile /wsl/log_openloris.txt"/>
    
    <group ns="rtabmap">

      <!-- Lidar Odometry -->
      <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="screen">
        <remap from="rgb/image"       to="/color/image_raw"/>
        <remap from="depth/image"     to="/aligned_depth_to_color/image_raw"/>
        <remap from="rgb/camera_info" to="/color/camera_info"/>
        <param name="approx_sync"     type="string" value="true"/>
        <param name="frame_id"        type="string" value="base_link"/>
        <param name="queue_size"      type="int"    value="10" />
        <param name="wait_for_transform_duration" type="double" value="0.2"/>
      
      </node>

      <!-- <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="screen">
        <param name="subscribe_rgbd" type="string" value="true"/>
        <param name="rgbd_cameras" type="string" value="3"/>

        <param name="guess_frame_id"  type="string" value="odom"/>
        <param name="frame_id" type="string" value="base_footprint"/>
        <param name="queue_size" type="int" value="10"/>
        <param name="wait_for_transform" type="bool" value="true"/>
      </node> -->

      <!-- SLAM -->
       <!-- launch-prefix="xterm -e gdb -ex run -\-args" -->
      <node pkg="rtabmap_slam" type="rtabmap" name="rtabmap" output="screen" launch-prefix="xterm -e gdb -ex run -\-args" args="$(arg rtabmap_args)">
        <param name="database_path"        type="string" value="$(arg database_path)"/>
        <param name="frame_id"             type="string" value="base_link"/>
        <param name="odom_frame_id" type="string" value=""/>
        <param name="odom_sensor_sync"     type="bool" value="true"/>
        <param name="subscribe_depth"      type="bool" value="true"/>
        <param name="subscribe_rgb"        type="bool" value="true"/>
        <param name="approx_sync"          type="bool" value="true"/>
        <param name="wait_for_transform_duration" type="double" value="0.2"/>
        
        <!-- RTAB-Map's parameters -->
        <param name="Rtabmap/DetectionRate"          type="string" value="1"/>
        <param name="Rtabmap/LoopGPS"                type="string" value="false"/> <!-- GPS can be quite wrong in that dataset-->
        <param name="Rtabmap/CreateIntermediateNodes" type="string" value="true"/> 
        <!-- <param name="Rtabmap/StartNewMapOnLoopClosure" type="string" value="true"/>  -->
        <param name="Mem/IntermediateNodeDataKept"   type="string" value="false"/>
        <param name="RGBD/NeighborLinkRefining"      type="string" value="true"/>
        <param name="RGBD/ProximityBySpace"          type="string" value="true"/>
        <param name="RGBD/ProximityMaxGraphDepth"    type="string" value="0"/>
        <param name="RGBD/ProximityPathMaxNeighbors" type="string" value="1"/>
        <param name="RGBD/ProximityMergedScanCovFactor" type="string" value="10"/>
        <param name="RGBD/LinearUpdate"              type="string" value="0.2"/>
        <param name="RGBD/LocalRadius"               type="string" value="30"/>
        <param name="RGBD/OptimizeMaxError"          type="string" value="0"/>
        <param name="Mem/NotLinkedNodesKept"         type="string" value="false"/>
        <!-- <param name="Rtabmap/TimeThr"                type="string" value="700"/> -->
        <param name="Mem/InitWMWithAllNodes"         type="string" value="true"/>
        <!-- <param name="Mem/IncrementalMemory"         type="string" value="true"/> -->
        <param name="Mem/STMSize"                    type="string" value="30"/>
        <param name="Reg/Strategy"                   type="string" value="0"/>
        <param name="Optimizer/GravitySigma"         type="string" value="3"/>

        <!-- Use SURF features to make it easier to find loop closures between datasets -->
        <param name="Kp/DetectorStrategy"            type="string" value="0"/>
        <param name="Kp/MaxFeatures"                 type="string" value="400"/> <!-- For bag-of-words -->
        <param name="Vis/MaxFeatures"                type="string" value="600"/> <!-- For visual transform estimation -->
        <param name="Vis/FeatureType"                type="string" value="0"/>
        <param name="Mem/DepthAsMask"                type="string" value="false"/> <!-- use whole images for keypoints -->
        <param name="Mem/StereoFromMotion"           type="string" value="true"/> <!-- will estimate 3D position of keypoints outside depth image based on odometry -->

        <param name="Region/DesiredAverageCardinality" type="string" value="1000"/>
        <param name="Region/MeshShapeFactor"         type="string" value="1"/>
        <param name="Region/RadiusUpperBound"        type="string" value="100"/>
        <param name="Region/TopK"                    type="string" value="3"/>

        <param name="Continual/ModelPath"            type="string" value="/wsl/resnet18_places365.pt"/>
        <param name="Continual/CheckpointPath"       type="string" value="/wsl/checkpoint_openloris.pt"/>
        <param name="Continual/Device"               type="string" value="0"/>
        <param name="Continual/ExperienceSize"       type="string" value="500"/>
        <param name="Continual/ReplayMemorySize"     type="string" value="1000"/>
        <param name="Continual/ReplayMemory"         type="string" value="1"/>
        <param name="Continual/WeightingMethod"      type="string" value="2"/>
        <param name="Continual/LossFunction"         type="string" value="1"/>
        
      </node>

      <node if="$(arg rtabmap_viz)" name="rtabmap_viz" pkg="rtabmap_viz" type="rtabmap_viz">
        <param name="frame_id"             type="string" value="base_link"/>
        <param name="approx_sync"          type="bool" value="false"/>
      </node>
      <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find rtabmap_launch)/launch/config/rgbd.rviz">
        <param name="frame_id"             type="string" value="base_link"/>
        <param name="approx_sync"          type="bool" value="false"/>
      </node>
  </group>
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_camera_broadcaster" args="0.226483684909 -0.0511419403565 0.916 -0.496762299683 0.499879588713 -0.495106812694 0.508150428935 base_link d400_color" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0.14350911105 -0.0964248846142 0.998048618989 0.00794676373317 0.011876376472 -0.7075455983 0.706339121032 base_link laser" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_odom_broadcaster" args="0 0 0 0 0 0 base_link base_odom" />
</launch>
